/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Wrapper class style */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Style */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}
/* Header Style */
header {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 99;
    padding: 0 1rem;
    position: fixed;
}
h1 {
    font-family: "Oswald", sans-serif;
    color: #252525;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header a {
    text-decoration: none;
    color: inherit;
}
#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}
#menu > li {
    margin-bottom: 1rem;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%; 
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #252525;
    display: none;
}
/* Main Content Style */
main {
    background-color: lightblue;
    flex: 1 0 auto;
    
}

/* Footer Style */
footer {
    background-color: orange;
}